@page
@model ConlangCreator.Web.Pages.ErrorModel

<!DOCTYPE html>
<html>
<head>
    <title>Error - Conlang Creator</title>
</head>
<body>
    <h1>An error occurred.</h1>
    <p>An error occurred while processing your request.</p>
</body>
</html>
